<script>
    var urls = {
        getLicenseList: '{:url("site/index/getLicenseList")}',
        download: "{:url('site/index/download')}",
        getLicense: "{:url('site/index/getLicense')}",
        upload: "{:url('site/index/upload')}",
        createLicense: "{:url('site/index/createLicense')}",
        extendLicense: "{:url('site/index/extendLicense')}",
        deleteLicense: "{:url('site/index/deleteLicense')}",
        loginIndex: "{:url('site/login/index')}",
        login: "{:url('site/login/login')}",
        logout: "{:url('site/login/logout')}",
        home: "{:url('site/index/index')}",
        modifyPassword: "{:url('site/user/modifyPassword')}",
    };
    var currentDate = "{php}echo date('Y-m-d');{/php}";
</script>